/* style.css */
*{
   outline: 2px solid rgb(29, 86, 36);
}
 div#header{
    color: white;
    background-color: rgb(225, 12, 8);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.odd{
    background-color: pink;
    font-family: "Dejavu Sans"; Verdana: sans-serif;
 }
.adjust-font-size{
                  font-size: 24px;
 }
 #four{
    background-color: lightgreen;
    font-weight: bold;
    color: black;
    text-align: left;
 }
 #two{
    color: blue;
    font-size: 36px;
    background-color: transparent;
    text-align: left;
 }
 .first{
    background-color: black;
    color: white;
 }
 .second{
    background-color: yellow;
    color: black;
 }
 .first,
 .second{
    font-size: 28px;
    font-family: Helvetica; Times_New_Roman: sans-serif;
 }
 .green.date{
    height: auto;
    width: 300px;
    background-color: white;
    align-items: normal;
 }
 .book.pen{
    height: 400px; 
    width: 200px;
    background-color: white;
    align-items: normal;
 }
 p.style{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
 }
 p.paragraph{
   font-weight: bold;
   font-size: 40px;
 }
 p.small.graph{
   font-weight: bold;
   font-size: 20px;
 }
 .confirm{
   background-color: green;
   color: white;
 }
 div.thin{
   font-weight: lighter;
   font-size: 40px;
 }
 div.child{
   font-weight: lighter;
   font-size: 40px;
 }
 div.extra{
   font-weight: bold;
   font-size: 20px;
 }