/* style.css */
 div#header{
    color: white;
    background-color: rgb(225, 12, 8);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.odd{
    background-color: pink;
    font-family: "Dejavu Sans"; Verdana: sans-serif;
 }
.adjust-font-size{
                  font-size: 24px;
 }
 #four{
    background-color: lightgreen;
    font-weight: bold;
    color: black;
    text-align: left;
 }
 #two{
    color: blue;
    font-size: 36px;
    background-color: transparent;
    text-align: left;
 }
 .first{
    background-color: black;
    color: white;
 }
 .second{
    background-color: yellow;
    color: black;
 }
 .first,
 .second{
    font-size: 28px;
    font-family: Helvetica; Times_New_Roman: sans-serif;
 }
 .green.date{
    height: auto;
    width: 300px;
    background-color: white;
    align-items: normal;
 }
 .book.pen{
    height: 400px; 
    width: 200px;
    background-color: white;
    align-items: normal;
 }
 p.style{
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
 }
 p.paragraph{
   font-weight: bold;
   font-size: 40px;
 }
 p.small.graph{
   font-weight: bold;
   font-size: 20px;
 }
 .confirm{
   background-color: green;
   color: white;
 }
 div.thin{
   font-weight: lighter;
   font-size: 40px;
 }
 div.child{
   font-weight: lighter;
   font-size: 40px;
 }
 div.extra{
   font-weight: bold;
   font-size: 20px;
 }
 .highlight{
   background-color: yellow;
 }
 .one{
   outline: 2px solid;
   padding: 25px;
   border: 32px;
   margin-left: 100px;
   margin-right: 100px;
   background-color: rgb(165, 174, 235);
 } 
 .two{
   outline: 2px solid;
   padding: 1px;
   margin-left: 80px;
   margin-right: 90px;
   margin-top: 20px;
   background-color: rgb(237, 134, 213);

 }
 .three{
   margin-top: 48px;
   margin-left: 800px;
   text-align: left;
   outline: 2px solid;
   padding: 25px;
   margin-right: 100px;
   background-color: rgb(220, 155, 155);
 }
.father{
   outline: 2px solid none;
}
.card{
   background-color: rgb(172, 243, 243);
   padding: 20px; 
}
.content{
   background-color: rgb(172, 243, 243);
   padding: 20px;
}
.big{
   background-color: rgb(172, 243, 243);
   padding: 20px;
   text-align: center;
}
.flex-container {
   display: flex;
   flex-direction: column;

 }
 
 /* this selector selects all divs inside of .flex-container */
 .flex-container div {
   background: peachpuff;
   border: 4px solid brown;
   height: 100px;
   width: 250px;
   
   flex: 1 1 auto;
 }
 .flex-container .-two{
   flex-shrink: 0;
 }
 .container{
   height: 200px;
   margin-top: 20px;
   background-color: rgb(61, 63, 3);
   padding: 20px;
   border: 10px soild red;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   /* why is my border not working in my container? */
 }
 .item{
   height: 70px;
   background-color: rgb(234, 234, 114);
   padding: 40px;
   width: 70px;
   border: 4px solid palevioletred;
   
 }
   /* This is the key property: */
   .item.ball {
     flex-shrink: 0;
   }
   body {
      background: hsl(210deg, 30%, 12%);
      color: hsl(0deg 0% 100%);
    }
    .wrapper {
      display: flex;
      gap: 8px;
    }
    .item {
      height: 32px;
      border: 2px solid hsl(210deg 8% 50%);
      background: hsl(210deg 15% 20%);
    }
    .item.stretch {
      /*
        Because this item is empty, it
        has a default hypothetical width
         of 0px. This isn't realistic,
         though; in a typical case,
         there would be content in here!
         And so we set a width of 300px
         to simulate it containing stuff.
      */
      width: 300px;
      flex-grow: 1;
      border-radius: 16px;
    }
    .item.ball {
      width: 32px;
      /*
        NOTE: We could prevent the circle
        from squishing into an oval by
        setting border-radius: 16px
        instead. I'm using percentages
        because it makes for a better
        demo. But even with a pixel-based
        radius, we still need
        flex-shrink: 0 to prevent the
        item from shrinking (give it a
        shot and see the difference!).
      */
      border-radius: 50%;
    }
    
